# fly.toml app configuration file generated for blood-pressure-tracker-app on 2025-11-30T16:14:02Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blood-pressure-tracker-app'
primary_region = 'lhr'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
